@model List<WelnessWebsite.Models.DailyNutrition>

@{
    ViewData["Title"] = "Search";
}

<h2>Search Daily Nutrition</h2>

@using (Html.BeginForm("Search", "DailyNutritions", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.Label("name", "Name", htmlAttributes: new { @class = "control-label" })
        @Html.TextBox("name", null, new { @class = "form-control" })
        @Html.ValidationMessage("name", "", new { @class = "text-danger" })
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Search</button>
}

@if (Model != null && Model.Any())
{
    <h3>Search Results</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Calories</th>
                <th>Serving Size (g)</th>
                <th>Total Fat (g)</th>
                <th>Saturated Fat (g)</th>
                <th>Protein (g)</th>
                <th>Sodium (mg)</th>
                <th>Potassium (mg)</th>
                <th>Cholesterol (mg)</th>
                <th>Total Carbohydrates (g)</th>
                <th>Fiber (g)</th>
                <th>Sugar (g)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var nutrition in Model)
            {
                <tr>
                    <td>@nutrition.Name</td>
                    <td>@nutrition.Calories</td>
                    <td>@nutrition.serving_size_g</td>
                    <td>@nutrition.fat_total_g</td>
                    <td>@nutrition.fat_saturated_g</td>
                    <td>@nutrition.protein_g</td>
                    <td>@nutrition.sodium_mg</td>
                    <td>@nutrition.potassium_mg</td>
                    <td>@nutrition.cholesterol_mg</td>
                    <td>@nutrition.carbohydrates_total_g</td>
                    <td>@nutrition.fiber_g</td>
                    <td>@nutrition.sugar_g</td>
                </tr>
            }
        </tbody>
    </table>
}
