@model List<Workout>
@{
    ViewData["Title"] = "Search";
}

<h2>Search Workouts</h2>

@using (Html.BeginForm("Search", "Workouts", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.Label("muscle", "Muscle", htmlAttributes: new { @class = "control-label" })
        @Html.TextBox("muscle", null, new { @class = "form-control" })
        @Html.ValidationMessage("muscle", "", new { @class = "text-danger" })
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Search</button>
}

@if (Model != null && Model.Any())
{
    <h3>Search Results</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Muscle</th>
                <th>Difficulty</th>
                <th>Instructions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var workout in Model)
            {
                <tr>
                    <td>@workout.Name</td>
                    <td>@workout.Type</td>
                    <td>@workout.Muscle</td>
                    <td>@workout.Difficulty</td>
                    <td>@workout.Instructions</td>
                    <td>
                        <form method="post" action="@Url.Action("SelectWorkout", "DailyWorkouts")">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="WorkoutID" value="@workout.ID" />
                            <button type="submit" class="btn btn-primary">Select</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}