@model List<Workout>
@{
    ViewData["Title"] = "Search";
}

<style>


    body {
        background: linear-gradient(to top, #0F0E0E 40%, #6C809A);
        font-family: Arial, sans-serif;
        margin: auto;
        padding: 0;
        color: white;
    }

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    th, table, tr {
        color: white;
    }

    a {
        color: white;
    }
</style>

<h2>Search Workouts</h2>

@using (Html.BeginForm("Search", "Workouts", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.Label("muscle", "Muscle", htmlAttributes: new { @class = "control-label" })
        @Html.TextBox("muscle", null, new { @class = "form-control" })
        @Html.ValidationMessage("muscle", "", new { @class = "text-danger" })
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Search</button>
}

@if (Model != null && Model.Any())
{
    <h3>Search Results</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Muscle</th>
                <th>Difficulty</th>
                <th>Instructions</th>
            </tr>
        </thead>
        <tbody>
            @using (Html.BeginForm("CreateWorkout", "Workouts", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

            @foreach (var workout in Model)
            {
                <div class="workout-item">
                    <h4>@workout.Name</h4>
                    <p>Type: @workout.Type</p>
                    <p>Muscle: @workout.Muscle</p>
                    <p>Difficulty: @workout.Difficulty</p>
                    <p>Instructions: @workout.Instructions</p>
                    <input type="hidden" name="WorkoutName" value="@workout.Name" />
                    <input type="hidden" name="WorkoutType" value="@workout.Type" />
                    <input type="hidden" name="WorkoutMuscle" value="@workout.Muscle" />
                    <input type="hidden" name="WorkoutDifficulty" value="@workout.Difficulty" />
                    <input type="hidden" name="WorkoutInstructions" value="@workout.Instructions" />
                    <button type="submit" class="btn btn-primary">Create Workout</button>
                    <hr />
                </div>
            }
            }
        </tbody>
    </table>
}