@model WelnessWebsite.Models.HomeView

@{
    ViewData["Title"] = "Home Page";

}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Bros</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/navBar.css">
    <link rel="stylesheet" href="/css/mainColors.css" />
    <link rel="stylesheet" href="/css/button.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

    
    @if (User.Identity.IsAuthenticated)
    {
        <div class="section-content"></div>
        <h1>this user is logged in</h1>
        
    }
    else
    {   
        @if (Context.Session.GetInt32("UserId") != null)
        {
            
            

            <div class="dashboard">


               @* <div class="card">
                    <canvas id="barChart"></canvas>
                    <canvas id="pieChart"></canvas>

                </div>*@

                <div class="card">
                    <h2>Daily Food Log</h2>
                    <br />
                    <table id="myTable">

                        <tr>
                            <th>Name</th>
                            <th>Calories</th>
                            
                        </tr>
                    </table>
                    
                   
                    @if (Model.DailyNutrition != null)
                    {
                        @foreach (var nutrition in Model.DailyNutrition.Nutrition)
                        {
                            <table class="mytable">

                            <tr>
                                <td>@nutrition.Name</td>
                                <td>@nutrition.Calories</td
                            </tr>
                            </table>
                            
                        }
                        
                        <br/>
                        <br/>
                        
                        
                        

                        <div class="containerA">

                        <a asp-controller="DailyNutritions" asp-action="Details" asp-route-id="@Model.DailyNutrition.ID" class="button">
                            <div class="button__line"></div>
                            <div class="button__line"></div>
                            <span class="button__text">Details</span>
                            <div class="button__drow1"></div>
                            <div class="button__drow2"></div>
                          </a>
                        </div>
                    }
                    
                    else
                    {   
                        <br />
                        <br />
                        <h1>EAT BRO!!!!</h1>
                        

                        <div class="containerA"> 
                          <a href="/DailyNutritions/Index" class="button">
                            <div class="button__line"></div>
                            <div class="button__line"></div>
                            <span class="button__text">Add Food</span>
                            <div class="button__drow1"></div>
                            <div class="button__drow2"></div>
                          </a>
                        </div>

                    }
                    
                </div>
                <div class="card">
                    
                    <h2>Weekly Food Log</h2>
                    <br />
                    <table id="myTable">

                        <tr>
                            <th>Weekday</th>
                            <th>Calories</th>
                            
                            
                        </tr>
                    </table>
                    
                   
                    @if (Model.WeeklyNutrition != null)
                    {
                        @foreach (var wnutrition in Model.WeeklyNutrition.DailyNutrition)
                        {
                            <table class="mytable">

                            <tr>
                                
                                <td>@Html.DisplayFor(model => wnutrition.DateTime.DayOfWeek)</td>
                                <td>@Html.DisplayFor(model => wnutrition.Calories)</td>

                            </tr>
                            </table>
                            <br />
                      }
                        <table id="myTable">
                        <tr>
                            <td>Total</td>
                      <td>@Html.DisplayFor(model => model.WeeklyNutrition.Calories)</td>
                      </tr>
                      </table>

                      
                        
                        
                      
                        <div class="containerA">

                          <a href="/DailyNutritions/Index" class="button">
                            <div class="button__line"></div>
                            <div class="button__line"></div>
                            <span class="button__text">Details</span>
                            <div class="button__drow1"></div>
                            <div class="button__drow2"></div>
                          </a>
                        </div>
                    }
                    
                    else
                    {   
                        <br />
                        <br />
                        <h1>EAT BRO!!!!</h1>
                        
                        
                         <div class="containerA">

                          <a href="/DailyNutritions/Index" class="button">
                            <div class="button__line"></div>
                            <div class="button__line"></div>
                            <span class="button__text">Add?</span>
                            <div class="button__drow1"></div>
                            <div class="button__drow2"></div>
                          </a>
                        </div>
                    }
                </div>
                <div class="card">
                    <h2>Daily workout</h2>
                    <br/>
                    

                    <table id="myTable">

                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Muscle</th>
                        </tr>

                    @if (Model.DailyWorkout != null)
                    {
                        @foreach (var Workouts in Model.DailyWorkout.Workout)
                        {
                          
                                <tr>
                                    <td>@Workouts.Name</td>
                                    <td>@Workouts.Type</td>
                                    <td>@Workouts.Muscle</td>
                                </tr>
                           
                        }
                            
                           
                        }
   
                    else
                    {
                        <h4>Off Day Bro, Get Some Rest!!</h4>
                        <br />
                      
                      
                        }


					</table>
                    @if (Model.DailyWorkout != null)
                    {
                        <br />
                        <div class="containerA">

                          <a href="Dailyworkouts" class="button">
                            <div class="button__line"></div>
                            <div class="button__line"></div>
                            <span class="button__text">Details</span>
                            <div class="button__drow1"></div>
                            <div class="button__drow2"></div>
                          </a>

                        </div>
                    }
                    else
                    {
                        <br/>
                        <p></p>
                        
                        <div class="containerA">

                          <a href="Dailyworkouts" class="button">
                            <div class="button__line"></div>
                            <div class="button__line"></div>
                            <span class="button__text">Add Workout?</span>
                            <div class="button__drow1"></div>
                            <div class="button__drow2"></div>
                          </a>

                        </div>
                    }
                    <br/>
                </div>
            </div>
        }
        else
        {
            <section class="hero">
                <div class="hero-content">
                    <h1>Your Journey to Fitness Starts Here</h1>
                    <p>Get fit, stay healthy, and achieve your goals with our personalized workout programs and expert trainers.</p>
                    <div class="containerB">
                    <div class="containerA">

                          <a href="users" class="button">
                            <div class="button__line"></div>
                            <div class="button__line"></div>
                            <span class="button__text">Login</span>
                            <div class="button__drow1"></div>
                            <div class="button__drow2"></div>
                          </a>

                        </div>
                    <div class="containerA">

                          <a href="users/create" class="button">
                            <div class="button__line"></div>
                            <div class="button__line"></div>
                            <span class="button__text">Register</span>
                            <div class="button__drow1"></div>
                            <div class="button__drow2"></div>
                          </a>

                        </div>
                     </div>
                 
                </div>
            </section>

    
            <section id="about" class="section">
                <div class="section-content">
                    <h2>About Us</h2>
                    <p>The Gym Bros app is designed to assist you in achieving your workout and fitness goals. It allows you to set workout routines, track your calorie and protein intake, and make adjustments to ensure a well-rounded fitness experience</p>
                </div>
            </section>

            <section id="services" class="section">
                <div class="section-content">
                    <h2>Our Services</h2>
                    <ul>
                        <li>Personalized Workout Programs</li>
                        <li>Nutrition traking</li>
                        <li>Goal Setting</li>
                        <li>Exercise Library</li>
                        <li>Workout Reminders and Scheduling</li>
                    </ul>
                </div>
            </section>

            <section id="contact" class="section">
                <div class="section-content">
                    <h2>Contact Us</h2>
                    <p>Ready to get started? Contact us today!</p>
                    <a href="mailto:info@example.com" class="contact-button">Email Us</a>
                </div>
            </section>
            <br/>
            }
            }
            

</body>
            <footer class="border-top footer text-muted">
                <div class="container">
                    &copy; 2023 - Gym Bros - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
        
        
    </footer>


   