@model List<Workout>

@{
    ViewData["Title"] = "Daily Workout Details";
}
<link rel="stylesheet" href="/css/mainColors.css" />
<style>
    th, table, tr {
        color: white;
    }
</style>
<h2>Daily Workout Details</h2>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Muscle</th>
                <th>Difficulty</th>
                <th>Instructions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var workout in Model)
            {
                <tr>
                    <td>@workout.Name</td>
                    <td>@workout.Type</td>
                    <td>@workout.Muscle</td>
                    <td>@workout.Difficulty</td>
                    <td>@workout.Instructions</td>
                </tr>
            }
        </tbody>
    </table>
}
