@model List<Workout>

@{
    ViewData["Title"] = "Daily Workout Details";
}
<link rel="stylesheet" href="/css/mainColors.css" />
<link rel="stylesheet" href="/css/button.css" />
<style>
    th, table, tr {
        color: white;
    }
</style>
<h2>Daily Workout Details</h2>

<div class="containerC">
    <a asp-controller="Workouts" asp-action="Search" asp-route-id="@ViewBag.dailyworkoutID" class="button">
        <div class="button__line"></div>
        <div class="button__line"></div>
        <span class="button__text">Add Workout</span>
        <div class="button__drow1"></div>
        <div class="button__drow2"></div>
    </a>

</div>

    

@if (Model != null && Model.Any())
{
<table class="table">
        <thead>

            <tr>

                <th>Name</th>
                <th>Type</th>
                <th>Muscle</th>
                <th>Difficulty</th>
                <th>Instructions</th>
                <th></th> <!-- Add an empty header column for the delete button -->
            </tr>
        </thead>
        <tbody>
            @foreach (var workout in Model)
            {
                <tr>
                    <td>@workout.Name</td>
                    <td>@workout.Type</td>
                    <td>@workout.Muscle</td>
                    <td>@workout.Difficulty</td>
                    <td>@workout.Instructions</td>
                    <td>
                        <form method="post" asp-action="Edit" asp-route-id="@workout.ID">
                            <input type="hidden" name="id" value="@workout.ID" />
                            <button type="submit">Delete</button>
                        </form>

                    </td>
                    <td>

                </tr>
            }

        </tbody>
    </table>
}
<div class="containerA">


</div>
