@model IEnumerable<WelnessWebsite.Models.DailyWorkout>

@{
    ViewData["Title"] = "Index";
}

<h1>Workouts</h1>


<style>
    body {
        background: linear-gradient(to top, #0F0E0E 40%, #6C809A);
        font-family: Arial, sans-serif;
        margin: auto;
        padding: 0;
        color: white;

    }

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .table{
        color: white;
    }

    a
    {
        color: white;
    }

</style>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>