@model IEnumerable<WelnessWebsite.Models.DailyWorkout>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="/css/button.css" />
@if (ViewBag.ID != null)
{
    <style>


        body {
            background: linear-gradient(to top, #0F0E0E 40%, #6C809A);
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            color: white;
            min-height: 100vh;
            background-repeat: no-repeat;
            background-size: cover;
        }

        th,table, tr{
            color:white;
        }

        a{
            color: white;
        }
    </style>

    <h1>Daily Workout</h1>

    <p> 
        <div class="containerC">
           <a asp-action="Create" class="button">
                <div class="button__line"></div>
                <div class="button__line"></div>
                <span class="button__text">New Workout!</span>
                <div class="button__drow1"></div>
                <div class="button__drow2"></div>
            </a>

        </div>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WorkoutType)
                </th>
                <th></th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WorkoutType)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        <a asp-controller="Workouts" asp-action="Search" asp-route-id="@item.ID">View Workout</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}


else
{
    <p>Welcome, @ViewBag.ID</p>

}
